	@font-face {
		font-family: cantarell;
		src: url('./resources/Cantarell-Regular.otf');
	    }

	*{
		font-family:cantarell;
	}

	#sideMenu {
		font-size: 15pt;
		cursor: default;
		background-color:rgba(35,40,45,1);
		height:100vh;

	}

	#sideMenuItens {
		color: rgba(255,255,255,.6);
		list-style-type: none;
		padding-left:0;
		
	}

	#sideMenuItens li{
		padding-left:10px;
		margin-top:10px;
		margin-bottom:10px;
		padding-top:10px;
		padding-bottom:10px;
	}

	#sideMenuItens li:hover {
		background-color:rgb(93, 103, 113);

	}

	#sideMenuItens span {
		color: rgba(255,255,255,.8);

	}
	.noselect {
	  -webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
		    user-select: none; /* Non-prefixed version, currently
		                          supported by Chrome and Opera */
	}
